@import "veriables.scss";

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: $white-color;
  gap: 5rem;
  box-shadow: $box-shadow;

  .logo-container {
    border-bottom: inherit !important;
    .hamburger-react {
      display: none;
    }

    .logo {
      font-size: 2rem;
      transition: all linear 0.3s;
      &:hover {
        color: $main-bg-light-color;
        letter-spacing: 1px;
      }
    }
  }

  .nav-container {
    .nav-list {
      @include flex-center;
      gap: 1.5rem;
      font-size: 1.5rem;
      opacity: 1;

      .nav-item {
        a {
          transition: $transition-linear-short;
          &:hover {
            color: $main-bg-light-color;
            letter-spacing: 1px;
          }
          &.active {
            border-bottom: $border-3-px-black;
            border-radius: 15%;
          }
        }
      }
    }
  }
}

// dark mode

.header-container {
  &.dark {
    header {
      background-color: $black-color;
      .logo-container {
        border-bottom: 1px solid $white-color;
        .hamburger-react {
          color: $white-color;
        }
      }
    }

    a {
      color: $white-color;
    }

    .nav-item {
      a {
        &.active {
          border-bottom: $border-3-px-white !important;
        }
      }
    }
  }
}
