@import "veriables.scss";

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: inherit;
    gap: inherit;

    .logo-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 0.3rem 1rem;

      .logo {
        font-size: 1.6rem;
      }

      .hamburger-react {
        display: block;
      }
    }

    &.active {
      gap: inherit;
      padding: inherit;
      .nav-container {
        height: 250px;

        .nav-list{
            opacity: 1 !important;
        }
      }

      .logo-container{
        border-bottom: 1px solid $black-color !important;
      }
    }
  }

  .nav-container {
    transition: $transition-linear-short;
    width: 100%;
    height: 0;
    .nav-list {
      flex-direction: column;
      opacity: 0 !important;
    }
  }

  .section {
    .card {
      min-width: 325px;
      height: 300px;
    }
  }

  .banner {
    .centered {
      .index-module_type__E-SaG {
        font-size: 4rem !important;
      }
    }
  }

  footer {
    font-size: 1rem;
  }

  .agents-container {
    padding: 2rem;
    margin: 4rem 2rem;
  }
  .agent-detail-container {
    margin: 4rem 2rem;
    padding: 5rem 0;
    flex-direction: column;

    .agent-detail-inner {
      h1 {
        text-align: center;
        margin-top: 2rem;
      }

      .ability-box-container {
        padding-right: inherit;
        flex-direction: column;

        .ability-desc {
          min-width: inherit;
          text-align: center;

          p {
            padding: 0 1rem;
          }

          .abilit-slot-con {
            span {
              display: block;
            }
          }
        }
      }
    }
  }

  .maps-container {
    margin: 4rem 2rem;
    .map-flip-card {
      max-width: 325px;
      height: 300px;
    }
  }

  .weapons-container {
    margin: 4rem 2rem;

    .centered {
      .modal {
        width: 350px;
        height: 500px;

        .skin-container {
          margin: 1rem 2rem;
        }
      }
    }
  }
}
